body {
    background-color: rgb(241, 171, 118);
  }
  
  header {
    background-color: #c55b0a;
    padding: 10px;
    text-align: center;
    font-size: 36px;
  }
  
  nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: rgb(203, 119, 9);
    padding: 5px 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #2616b2;
  }
  
  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    color: rgb(67, 10, 199);
    font-size: 20px ;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  ul li:hover {
    color: #2de808;
  }
  
  input[type="range"] {
    width: 200px;
    margin-left: 10px;
  }
  
 
  
  img {
    width:220px;
    float: right;
    margin-right: 6cm;
    margin-bottom: ;
    display: block;
    max-width: 100%;
  }
  
  p {
      margin: 20px;
      margin-right: 5px;
      font-weight: 600;
    }
  


